.footer{
   position: relative;
   background-color: var(--footer-bg-color);
   color: var(--clr-white);
   border-top-right-radius: var(--br-md);
   border-top-left-radius: var(--br-md);
   margin-top: -20px;
   z-index: 2;
   

   & &__container{
      padding: var( --padding-section-footer);
      display: flex;
      gap: 30px;
      flex-wrap: wrap;

      @media screen and (max-width:768px) {
         flex-direction: column-reverse;
      }
   }


   // ..................................Form

   & &__form{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 100px;

      @media screen and (max-width:1024px) {
         gap: 50px;
      }
   }
}